## Welcome to the pipeline of my zillow project

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import aquire

In [4]:
df = aquire.get_data("zillow")

In [5]:
df.head()

   bathroomcnt  bedroomcnt  finishedsquarefeet12  taxvaluedollarcnt    fips
0          2.0         3.0                1458.0           136104.0  6037.0
1          1.0         2.0                1421.0            35606.0  6037.0
2          3.0         4.0                2541.0           880456.0  6059.0
3          2.0         3.0                1650.0           614000.0  6037.0
4          1.0         2.0                 693.0           274237.0  6037.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14969 entries, 0 to 14968
Data columns (total 5 columns):
bathroomcnt             14969 non-null float64
bedroomcnt              14969 non-null float64
finishedsquarefeet12    14969 non-null float64
taxvaluedollarcnt       14969 non-null float64
fips                    14969 non-null float64
dtypes: float64(5)
memory usage: 584.8 KB

In [7]:
df.describe()

,bathroomcnt,bedroomcnt,finishedsquarefeet12,taxvaluedollarcnt,fips
count,14969.000000,14969.000000,14969.000000,1.496900e+04,14969.000000
mean,2.329147,3.315853,1944.229608,5.412023e+05,6049.358608
std,1.021296,0.940814,1001.702027,7.311741e+05,21.262245
min,0.000000,0.000000,300.000000,1.050400e+04,6037.000000
25%,2.000000,3.000000,1277.000000,1.986040e+05,6037.000000
50%,2.000000,3.000000,1680.000000,3.847790e+05,6037.000000
75%,3.000000,4.000000,2348.000000,6.446830e+05,6059.000000
max,11.000000,12.000000,15450.000000,2.385837e+07,6111.000000